<!-- Universal Date Picker -->
<div id="<?= $app ?>">
<el-row>
  <el-date-picker
    size="medium"
    v-model="value"
    value-format="yyyy-MM-dd"
    :type="dateFormat"
    :format="dateFormatFormat"
    placeholder="Pick a day">
    {{ value }}
  </el-date-picker>
  <el-radio-group v-model="dateFormat" size="medium">
    <el-radio-button label="date">Date</el-radio-button>
    <el-radio-button label="year">Year</el-radio-button>
  </el-radio-group>
</el-row>
<input type="hidden" id="<?= $id ?>" name="<?= $name ?>" v-model="date">
</div>
<!-- Universal Date Picker -->

<script>

const <?= $app ?> = new Vue({
    el: '#<?= $app ?>',
    data() {
      return {
        dateFormat: 'date',
        dateFormatFormat: 'dd.MM.yyyy',
        value: '',
        date: ''
      };
    },
    mounted: function() {
        this.value = '<?= $value ?>';
        if (this.value.slice(5,10) == '00-00') {
          this.value = this.value.slice(0,4) + '-01-01'
          console.log(this.value)
          this.dateFormat = 'year'
          
        }
    },
    watch: {
      value: function(val) {
        if (this.dateFormat == 'year') {
          this.date = val.slice(0,4) + '-00-00'
        } else {
          this.date = val
        }
      },
      dateFormat: function(val) {
        if (val == 'year') {
          this.dateFormatFormat = 'yyyy';
        } else {
          this.dateFormatFormat = 'dd.MM.yyyy';
        }
      }
    } 
  
  });
  </script>