<!-- Universal Text Field -->
<div id="<?= $app ?>">
    <el-input v-model="input" <? if($maxchar != '') { echo "maxlength=".$maxchar; } ?> >
      <? if($maxchar != '') { echo '<template slot="append">{{ input.length }} / '.$maxchar.'</template>'; } ?> >
    </el-input>
    <input type="hidden" id="<?= $id ?>" name="<?= $name ?>" v-model="input" >
</div>
<!-- Universal Text Field -->

<script>
const <?= $app ?> = new Vue({
    el: '#<?= $app ?>',
    data() {
      return {
        input: '',
      };
    },
    mounted: function() {
      this.input = '<?= $value ?>';
    }
  });
  </script>